*.lock.json
/.idea/
/Temp/
/obj/
/packages/
*.DotSettings.user
Assets/Plugins/Silphid/Extensions
Assets/Plugins/Silphid/Extensions.DOTween
Assets/Plugins/Silphid/Injexit
Assets/Plugins/Silphid/Loadzup
Assets/Plugins/Silphid/Machina
Assets/Plugins/Silphid/Sequencit
Assets/Plugins/Silphid/Sequencit.DOTween
Assets/Plugins/Silphid/Showzup
Assets/Plugins/Silphid/Editor/Showzup
Assets/Plugins/UniRx
UnityProject/Assets/Plugins/Silphid/Extensions
UnityProject/Assets/Plugins/Silphid/Extensions.DOTween
UnityProject/Assets/Plugins/Silphid/Injexit
UnityProject/Assets/Plugins/Silphid/Loadzup
UnityProject/Assets/Plugins/Silphid/Machina
UnityProject/Assets/Plugins/Silphid/Sequencit
UnityProject/Assets/Plugins/Silphid/Sequencit.DOTween
UnityProject/Assets/Plugins/Silphid/Showzup
UnityProject/Assets/Plugins/Silphid/Editor/Showzup
UnityProject/Assets/Plugins/UniRx
Sources/UniRx/Sources
UnityProject/Assets/Plugins/Silphid/Commons
UnityProject/Assets/Plugins/DOTween
Sources/Dependencies/DOTween
