*.lock.json
/.idea/
/Temp/
/obj/
/packages/
*.DotSettings.user
UnityProject/Assets/Plugins/Silphid/Commons
UnityProject/Assets/Plugins/Silphid/Injexit
UnityProject/Assets/Plugins/Silphid/Loadzup
UnityProject/Assets/Plugins/Silphid/Machina
UnityProject/Assets/Plugins/Silphid/Sequencit
UnityProject/Assets/Plugins/Silphid/Showzup
UnityProject/Assets/Plugins/UniRx
UnityProject/Assets/Plugins/DOTween
Sources/UniRx/Sources
Sources/Dependencies/DOTween
Sources/Silphid.Commons/Sources/Log4Net
*.unitypackage
UnityProject/Assets/Plugins/Silphid/Tweenzup
