<footer>
    <div class="row">
        <div class="col-lg-12 footer">
            <p><img src="{{'images/silphid-logo-dark.png' | relative_url}}" height="32" alt="Silphid Logo"/></p>
            <p>&copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved.<br />
            {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %}
            Site last generated: {{ site.time | date: "%b %-d, %Y"  }}<br />
            </p>
        </div>
    </div>
</footer>
